@{
    ViewBag.Title = "DatePicker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ControlRegion">
    <h2>Picker controls</h2>
    
  
    <ej-date-range-picker id="DateTimeRangePick" value="DateTime.Today"
                          show-other-months="true"
                          date-format="MM/dd/yyyy"></ej-date-range-picker>
</div>

